body{
    background: gray;
    color: white;
}

#left
{
    float: left;
    width: 700px;
    padding: 25px;
    margin:0 auto;
}

#right
{
    float: left;
    width: 250px;
    min-height: 300px;
    padding: 25px;
}