body
{
    background: grey;
    color: #red;
}

ul > li
{
    padding: 10px;
    display: inline;
    color:#ffffff;
    font-size:24px;
}

ul > li:hover > a
{
    padding: 10px;
    display: inline;
    color:#ffffff;
    font-size:24px;
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}


#pojemnik
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    padding: 10px;
    
}

#nawigacja
{
    border: 2px solid black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: black;
}

#logo
{
    background: azure;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

.zawartosc
{
    float:left;
    width: 700px;
    text-align: justify;
    font-size: 18px;
    padding: 25px;
}

#right
{
    float: left;
    width: 200px;
    padding: 25px;
}

a{
    text-decoration:none;
    color:white;
}

